footer {
    background-image: url('../../common/images/ft-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
#footer .row {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-feedback {
    color: white;
    max-width: 700px;
    margin:0 auto;
    text-align: center;
}

.footer-feedback h2 {
    color: #0092cc;
    padding-bottom: 10px;
}

.footer-feedback h3 {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

.footer-feedback p{
    color: rgba(255, 255, 255, 0.7);
    line-height: 2rem;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: white;
    padding-top:60px;
    padding-bottom:40px;
    line-height: 4rem;
}
.contact-me h3 {
    font-size: 1.8rem;
    color: #0092cc;
}

.col-three {
    width: 100%;
 font-size: 4rem;
 margin: 0;
 padding: 0;
}

#footer .col-three p {
    color: white;
}

.footer-social-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

 .copyright {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}

.footer-social {
 width: 100%;
 font-size: 2.1rem;
 margin: 0;
 padding: 0;
}
.footer-social a {
 color: white;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.footer-social li {
 display: inline-block;
 margin: 0 10px;
 padding: 0;
}
.footer-social a:hover {
 color: #0092cc;
 
}

