@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    height: 100%;
}
h2 {
    font-size: 2.4rem;
    line-height: 1.25;
    margin: 0;
}