.intro {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../common/images/intro-bg.jpg) no-repeat center bottom;
  background-size: auto;
  background-attachment: fixed;
  width: 100%;
  height:100vh;
  min-height: 720px;
  position: relative;
}
.intro-content {
  color: white;
}
.intro-content h5 {
  color: #0092cc;
  font-size: 2.6rem;
  margin: 0px;
}
  
.intro-content h1 {
  color: white;
  font-size: 84px;
  letter-spacing: -4px;
  margin: 0px
}
  
.row {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.button {
  color: white;
  text-decoration: none;
  border: 3px solid #313131;
  padding: 15px;
  font-size: 1.5rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: solid 3px #0092cc;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.intro-position {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
.intro-social a {
  color: white;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}