.intro {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../common/images/intro-bg.jpg) no-repeat center bottom;
  background-size: auto;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  position: relative;
}
.intro-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro-content h5 {
  color: #0092cc;
  font-size: 2.3rem;
  line-height: 1.565;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 0px;
}

.intro-content h1 {
  color: white;
  font-size: 84px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.intro-position {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin: 2rem 0 4rem 0;
}

.intro-position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}

.intro-position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}

.intro-content .button {
  color: white;
  text-decoration: none;
  border: 3px solid #313131;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 1.8rem 3.5rem 1.8rem 3.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.intro-content .button:hover {
  border: solid 3px #0092cc;
}
.intro-content .button::after {
  display: inline-block;
  content: "\f107";
  font-family: fontAwesome;
  font-size: 1.6rem;
  line-height: inherit;
  text-align: center;
  position: relative;
  left: 1.2rem;
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
.intro-social a {
  color: white;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.intro-social a:hover {
  color: #0092cc;
}
.intro .transition-smooth a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
