#portfolio {
  padding-bottom:15rem;
}

#portfolio .row {
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio-heading h2 {
    color: #0092cc;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
}